.tasksButton{
    font-size: 12px;
    margin-left: 2px;
    border: 1px solid #005252;
    transition: 0.5s;
    margin-top: 5px;
    margin-left: 10px;
}

.tasksButton:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.taskBtnContainer{
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-top: 5px;
}
.taskText{
    text-transform: capitalize;
    margin-bottom: 5px;
}